\documentclass{standalone}

\input{sigs.tex}


\newcommand{\sigtablerow}[1]{%
    \SigProperty{#1}{name} &
    \SigProperty{#1}{level} &
    \SigProperty{#1}{status} &
    \SigProperty{#1}{pk} &
    \SigProperty{#1}{sig} &
    \SigProperty{#1}{sk} \\
}

\begin{document}
\begin{tabular}{lclrrr}
    \bf Name & Level & Status & pk & sig & sk \\ \hline

<% for sig in sigs %>
    \sigtablerow{<< sig['name'] >>}
<% endfor %>

\end{tabular}

\end{document}
