% Ignore "wrong length of dash" warnings
% chktex-file 8

\makeatletter
\newcommand{\@DefineSingleSigProperty}[3]{%
\csdef{sig-#1-#2}{#3}%
}
\newcommand{\@DefineAllSigProperties}[8]{%
    \@DefineSingleSigProperty{#1}{name}{#1}
    \@DefineSingleSigProperty{#1}{display}{#2}
    \@DefineSingleSigProperty{#1}{level}{#3}
    \@DefineSingleSigProperty{#1}{status}{#4}
    \@DefineSingleSigProperty{#1}{assumption}{#5}
    \@DefineSingleSigProperty{#1}{pk}{#6}
    \@DefineSingleSigProperty{#1}{sig}{#7}
    \@DefineSingleSigProperty{#1}{sk}{#8}
}
\makeatother

\newcommand{\SigProperty}[2]{\csuse{sig-#1-#2}}

\makeatletter
<% for sig in sigs %>
\@DefineAllSigProperties{<< sig['name'] >>}{<< sig['display'] >>}{<< sig['level'] >>}{<< sig['status'] >>}{<< sig['assumption'] >>}{<< sig['pk'] >>}{<< sig['sig'] >>}{<< sig['sk'] >>}
<% endfor %>
\makeatother
